{% extends "users/layouts/base.html" %}
{% load static %}
{% block title %} Location Update {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Update {{ form.branch.value }}</h4>
        <p class="card-category">Location details</p>
      </div>
      <div class="card-body">
        {% if form.errors %}
          <div class="alert alert-warning" role="alert">
              {{ form.errors }}
          </div>
          {% endif %}
        <form method="post">  
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="bmd-label-floating">Branch</label>
                {{ form.branch}}
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="bmd-label-floating">SOD ID</label>
                {{ form.branch_id}}
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="bmd-label-floating">State</label>
                {{ form.state}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Adress</label>
                {{ form.address }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="bmd-label-floating">Region</label>
                {{ form.region }}
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="bmd-label-floating">CUG Number</label>
                {{ form.cug_num1}}
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="bmd-label-floating">CUG Number additional</label>
                {{ form.cug_num2 }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label class="bmd-label-floating mr-4"> Regional Office:   </label>
                {{ form.regional_office }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Update Location</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ form.branch.value }} Branch Installations</h4>
                  <p class="card-category"> {{ form.address.value }}</p>
                </div>
                <div class="card-body">
                  <input type="text" class="form-control" id="search" placeholder="Type to search">
                  <div class="table-responsive">
                    <table class="table" id='installation-table'>
                      <thead class=" text-primary">
                        <!-- <th>
                          Branch ID
                        </th> -->
                        <th>
                          Equipment Type
                        </th>
                        <th>
                          Quantity
                        </th>
                        <th>
                          Brand Name
                        </th>
                        <th>
                          Specification
                        </th>
                        <th>
                          Installation Date
                        </th>
                        <th>
                          Manufacture Date
                        </th>
                        <th>
                          Replacement Date
                        </th>
                        <th>
                          Life Span
                        </th>
                        <th>
                          Vendor Contact
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                         Remark
                        </th>
                        <th>
                          photo
                        </th>
                        <th>
                          Actions
                        </th>
                      </thead>
                      <tbody>
                        {% for installation in installations %}  
                        <tr>
                       <!--   <td>
                            {{ installation.location.branch_id }}
                          </td>-->
                          <td>
                            {{ installation.get_equipment_type_display }}
                          </td>
                          <td>
                            {{ installation.quantity }}
                          </td>
                          <td>
                            {% if installation.brand_name != 'none' %}
                            {{ installation.get_brand_name_display }}
                            {% else %}
                            {{ installation.brand_others}}
                            {% endif %} 
                          </td>
                          <td>
                            {{ installation.technical_specification }} 
                          </td>
                          <td>
                            {{ installation.installation_date }}
                          </td>
                          <td>
                            {{ installation.date_manufactured }}
                          </td>
                          <td>
                            {{ installation.replacement_date }}
                          </td>
                          <td>
                            {{ installation.get_life_span_display}}
                          </td>
                          <td>
                            {{ installation.contact_person }}
                          </td>
                          <td>
                            {{ installation.get_equipment_status_display }}
                          </td>
                          <td>
                            {{ installation.remark }}
                          </td>
                          <td>
                            <a target="_blank" href="{{ installation.photo.url }}"> view photo</a>
                            
                          </td>
                          <td>
                            <a href="{% url 'viewInstallation' installation.id %}"  class="btn btn-sm btn-primary" >
                              <span class="fa fa-eye"> </span>
                            <a href="{% url 'updateInstallation' installation.id %}"  class="btn btn-sm btn-primary" >
                              <span class="fa fa-pencil"></span>
                            </a> | <a href="{% url 'deleteInstallation' installation.id %}" class="btn btn-sm btn-primary" >
                              <span class="fa fa-trash"></span>
                            </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination-area d-flex flex-wrap justify-content-between align-items-center">
                    <div class="pagination-cont">
                        Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </div>
                    <ul class="pagination">
                        <li>
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a> {% endif %}
                        </li>
                        <li>
                            <a href="?page={{ page_obj.number }}" class="active">{{ page_obj.number }} </a>
                        </li>
                        <li>
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endif %}
                        </li>
                    </ul>
                </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title"> {{ form.branch.value }} Branch Report</h4>
                <p class="card-category"> Report Details</p>
              </div>
              <div class="card-body">
                <input type="text" class="form-control" id="search" placeholder="Type to search">
                <div class="table-responsive">
                  <table class="table" id='report-table'>
                    <thead class=" text-primary">
                      <!-- <th>
                        Engineer
                      </th> -->
                      <th>
                        SOD ID
                      </th>
                      <th>
                        Branch
                      </th>
                      <!-- <th>
                        Installation Type
                      </th> -->
                      <th>
                        Report
                      </th>
                      <th>
                        Actions
                      </th>
                    </thead>
                    <tbody>
                      {% for report in reports %}  
                      <tr>
                        <!-- <td>
                          {{ report.engineer.first_name }} {{ report.engineer.last_name }}
                        </td>  -->
                        <td>
                          {{ report.location.branch_id }}
                        </td>
                        <td>
                          {{ report.location.branch }}
                        </td>
                       <!-- <td>
                          {{ report.installation.get_equipment_type_display }}
                        </td> -->
                        <td>
                          {{ report.report }}
                        </td>
                        <td>
                          <a href="{% url 'updateReport' report.id %}"  class="btn btn-sm btn-primary" >
                            <span class="fa fa-pencil"></span>
                          </a> | <a href="{% url 'deleteReport' report.id %}" class="btn btn-sm btn-primary" >
                            <span class="fa fa-trash"></span>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="pagination-area d-flex flex-wrap justify-content-between align-items-center">
                  <div class="pagination-cont">
                      Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </div>
                  <ul class="pagination">
                      <li>
                          {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a> {% endif %}
                      </li>
                      <li>
                          <a href="?page={{ page_obj.number }}" class="active">{{ page_obj.number }} </a>
                      </li>
                      <li>
                          {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endif %}
                      </li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
      </div>
      





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var $rows = $('#installation-table tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});
</script>
{% endblock javascripts %}
