{% extends "users/layouts/base.html" %}
{% load static %}
{% block title %} Report Update {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Update Report</h4>
        <p class="card-category">Report details</p>
      </div>
      <div class="card-body">
        {% if form.errors %}
          <div class="alert alert-warning" role="alert">
              {{ form.errors }}
          </div>
          {% endif %}
        <form method="post" action="{% url 'report' %}">  
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Location</label>
                {{ form.location }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Report</label>
                {{ form.report }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Update Report</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>





{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
