{% extends "users/layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
          {% if request.user.is_superuser %}
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Create a New User</h4>
                  <p class="card-category">Complete user profile</p>
                </div>
                <div class="card-body">
                  {% if form.errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ form.errors }}
                    </div>
                    {% endif %}
                  <form method="post" action="{% url 'clients' %}">  
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          {{ form.email }}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Business Name</label>
                          {{ form.business_name}}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Fist Name</label>
                          {{ form.first_name }}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          {{ form.last_name }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                          {{ form.address }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="hidden" name="password1" id="password1" value="23@thhSDLLo12334">
                          <input type="hidden" name="password2" id="password2" value="23@thhSDLLo12334">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone Number</label>
                          {{ form.phone_number }}
                        </div><div class='form-control-static'> {{ form.phone_number.help_text }}  </div>
                      </div> 
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">User Status</label>
                          {{ form.user_status }}
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Create User</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Company staff</h4>
                  <p class="card-category"> Staff Profile</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Email
                        </th>
                        <th>
                          First Name
                        </th>
                        <th>
                          Last Name
                        </th>
                        <th>
                          Phone
                        </th>
                        <th>
                          Staff Status
                        </th>
                        <th>
                          Actions
                        </th>
                      </thead>
                      <tbody>
                        {% for user in page_obj %}
                         {% if user.user_status != "C" %}   
                        <tr>
                          <td>
                            {{ user.email }}
                          </td>
                          <td>
                            {{ user.first_name }}
                          </td>
                          <td>
                            {{ user.last_name }}
                          </td>
                          <td>
                            {{ user.phone_number }}
                          </td>
                          <td class="text-primary">
                            {{ user.get_user_status_display }}
                          </td> 
                          <td>
                            <a href="{% url 'userupdate' user.id %}"  class="btn btn-sm btn-primary" >
                              <span class="fa fa-pencil"></span>
                            </a> | <a href="{% url 'deleteuser' user.id %}" class="btn btn-sm btn-primary" >
                              <span class="fa fa-trash"></span>
                            </a>
                          </td>
                        </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination-area d-flex flex-wrap justify-content-between align-items-center">
                    <div class="pagination-cont">
                        Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </div>
                    <ul class="pagination">
                        <li>
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a> {% endif %}
                        </li>
                        <li>
                            <a href="?page={{ page_obj.number }}" class="active">{{ page_obj.number }} </a>
                        </li>
                        <li>
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endif %}
                        </li>
                    </ul>
                </div></div>
                
              </div>
              
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Company Clients</h4>
                  <p class="card-category"> Clients Profile</p>
                </div>
                <div class="card-body">
                  <input type="text" class="form-control" id="search" placeholder="Type to search">
                  <div class="table-responsive">
                    <table class="table" id='company-table'>
                      <thead class=" text-primary">
                        <th>
                          Business Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Full Name
                        </th>
                        <th>
                          Phone
                        </th>
                        <th>
                          Address
                        </th>
                        <th>
                          Actions
                        </th>
                      </thead>
                      <tbody>
                        {% for user in users %}
                         {% if user.user_status == "C" %}   
                        <tr>
                          <td>
                            {{ user.business_name }}
                          </td>
                          <td>
                            {{ user.email }}
                          </td>
                          <td>
                            {{ user.first_name }} {{ user.last_name}}
                          </td>
                          <td>
                            {{ user.phone_number }}
                          </td>
                          <td>
                            {{ user.address }}
                          </td>
                          <td>
                            <a href="{% url 'userupdate' user.id %}"  class="btn btn-sm btn-primary" >
                              <span class="fa fa-pencil"></span>
                            </a> | <a href="{% url 'deleteuser' user.id %}" class="btn btn-sm btn-primary" >
                              <span class="fa fa-trash"></span>
                            </a>
                          </td>
                        </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var $rows = $('#company-table tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});
</script>
{% endblock javascripts %}
