{% extends "users/layouts/base.html" %}

{% block title %} Password Reset Completed {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Password Reset Completed
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              Your new password has been successfully entered
          </h6>
          <br />
              
          <span><a href="{% url 'login' %}"><button type="button" name="login" class="btn btn-primary pull-left">Login</button></a> <i class="flaticon-right-arrow"></i></span> 
            <div class="clearfix"></div>
          
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
