{% extends "users/layouts/base.html" %}

{% block title %} Password Reset Confirm {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Change Your Password
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              Enter your your new password
          </h6>
          <br />
          <form method="POST" >
              {% csrf_token %}
            <div class="form-group">
              <label class="bmd-label-floating">New Password</label>
              <input type="password" name="new_password1" autocomplete="new-password"  class='form-control' required id="id_new_password1"> 
             <div class='form-control-static'> {{ form.new_password1.help_text }} </div>
              <label class="bmd-label-floating">New Password confrimation </label>
              <input type="password" name="new_password2" autocomplete="new-password" class='form-control' required id="id_new_password2">
            </div>
            <button type="submit" name="change password" class="btn btn-primary pull-left">Change Password</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
