{% extends "users/layouts/base.html" %}

{% block title %} Password Reset Done{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
              Password Reset Done
          </h4>
        </div>
        <div class="card-body">

          <h5 class="card-category">
            An email has been sent to your email address follow the link to complete password reset.
            <br/>
            N/B: Check your Junk or Spam folder 
          </h5>
          <br/>
        
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
